<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mācibu palīgs</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="parent">

    <a href="/">Sākumlapa</a>
    <a href="/">Fizika</a>
    <a href="/">Fizika II</a>
    <a href="/">Ķīmija</a>
    <a href="/">Ķīmija II</a>
    <a href="/">Bioloģija</a>
    <a href="/">Bioloģija II</a>
    <a href="/">Programmēšana II</a>
    <a href="/">Angļu valoda II</a>
    <a href="/">Matemātika</a>
    <a href="/">Matemātika II</a>
    <!-- <a href="/form">Veidlapa</a>
    <a href="/picture">Attēls</a> -->
</div>
<label class="parent"></label>
<div class="content">
    <h1>Sākumlapa</h1>
    <p>Šī ir mācību palīga sākumlapa.</p>
  </div>
  

{% block body %}
{% endblock %}

</body>
</html>
