{% extends "layout2.html" %}

{% block body %}
<body>
    <body>
    <div class="login"></div>
        <h1>Laipni lūdzam!</h1>
    
        <form action="/submit" method="POST">
          
            <input type="text" name="name" placeholder="Ievadi savu vārdu" required>
            <input type="text" name="surname" placeholder="Ievadi savu uzvārdu" required>
            <input type="text" name="phone" placeholder="Ievadi savu telefona nr " required>
            <input type="email" name="email" placeholder="Ievadi savu epastu" required>
            <input type="password" name="password" placeholder="Ievadi savu paroli" required>
       
            <button type="submit">Saglabāt</button>
        </form>
    </div>
    <div class="sakums">
        <a href="/sakumlapa">Atpakaļ uz sākumu</a>
    </div>
    </body>
</body>
{% endblock %}


