<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mācibu palīgs</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="parent">

    <a href="/sakumlapa">Sākumlapa</a>
    <a href="fizika">Fizika</a>
    <a href="fizika2">Fizika II</a>
    <a href="kimija">Ķīmija</a>
    <a href="kimija2">Ķīmija II</a>
    <a href="biologija">Bioloģija</a>
    <a href="biologija2">Bioloģija II</a>
    <a href="programesana2">Programmēšana II</a>
    <a href="angluval2">Angļu valoda II</a>
    <a href="matematika">Matemātika</a>
    <a href="matematika2">Matemātika II</a>
    <!-- <a href="login" style=" background-color: blue;">Login</a>
    <a href="signin" style="background-color: green;">Sign in</a> -->
    
    

</div>  


{% block body %}
{% endblock %}

</body>
</html>
