{% extends "layout.html" %}


{% block body %}


<label class="parent"></label>
<div class="content">
    <h1>Laipni lūgti!</h1>
    <p>Šī mājaslapa ir izstrādāta, lai palīdzētu jums veiksmīgi sagatavoties eksāmeniem dotajos mācību priekšmetos </p><br>
  </div>


  <div class="results">
    <div class="result">
      <p><strong>Šādi jūsu rezultāti izskatīsies pirms mājaslapas izmantošanas:</strong></p>
      <img src="./static/agarthapenguin.png" alt="Agartha Penguin">
    </div>
  
    <div class="result">
      <p><strong>Šādi jūsu rezultāti izskatīsies pēc mājaslapas izmantošanas:</strong></p>
      <img src="./static/rich.png" alt="rich">
    </div>
  </div>
  
  <div class="motivacija">
  <p><h3>Motivācijai:</h3> {{ quote }}</p>
  </div>




{% endblock %}
