{% extends "layout2.html" %}


{% block body %}


<label class="parent"></label>
<div class="content">
    <h1>Laipni lūgti!</h1>
    <p>Šī mājaslapa ir izstrādāta, lai palīdzētu jums veiksmīgi sagatavoties eksāmeniem šajos mācību priekšmetos </p><br>
  </div>


  <div class="results">
    <div class="result">
      <p><strong>Šādi jūsu rezultāti izskatīsies pirms mājaslapas izmantošanas:</strong></p>
      <img src="./static/notstonks.png" alt="Not Stonks">
    </div>
  
    <div class="result">
      <p><strong>Šādi jūsu rezultāti izskatīsies pēc mājaslapas izmantošanas:</strong></p>
      <img src="./static/stonks.jpg" alt="Stonks">
    </div>
  </div>
  
  <div class="motivacija">
  <p>{{ quote }}</p>
  </div>




{% endblock %}
